<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title> Template 10 </title>
  </head>

  <body>
    {{$wisdom :=.}}
    <h1> Spinning tomatoes {{$wisdom}} </h1>
  </body>
</html>
