<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title></title>

  <link rel="stylesheet" href="/source/css/main.css" />
  <link rel="stylesheet" href="/source/css/reset.css"  />
</head>

<body>
  <h1>Hedgehogs</h1>
  <p>
    Hedgehogs are cute and pointy little animals that you can pet.
  </p>

  <h1 id="element1"> Food </h1>

  <ul>
    <li>Yuuum, worms!</li>
    <li>Yuuum, various fruits!</li>
    <li>Yuuum, grasshoppers!</li>
    <li>Oh oh, some cooked vegetables</li>
    <li>Oh oh, some cat food high on protein</li>
  </ul>

  <h1 id="element2"> Sleeping </h1>
  <p>
    Hedgies love to sleep from 14-18 daily hours and are mainly crepuscular or nocturnals.

    Niara, my little hedgehog likes to sleep in her comfy thermic bed or in an old normal jean in summer.
  </p>

</body>

</html>
