<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title> Bar! </title>
</head>

<body>
  <h1>Welcome to Special Agents Bar</h1>
  {{if .First}}
    What would you drink Mr {{.Last}}?
  {{end}}
  <a href="/logout">Logout</a>
</body>

</html>
