<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Log In</title>
</head>

<body>
  <form method="post">
    <input type="text" name="user_name" placeholder="user name" />
    <br />
    <input type="password" name="password" placeholder="password" />
    <br />
    <input type="submit" />
  </form>
  <br />
  <a href="/singup">Sing up if dont have an user!</a>
</body>

</html>
