<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Sing up!</title>
</head>

<body>
  <form method="post">
    <input type="text" name="user_name" placeholder="user name" />
    <br />
    <input type="text" name="first_name" placeholder="first name" />
    <br />
    <input type="text" name="last_name" placeholder="last name" />
    <br />
    <label for="sr">Role</label>
    <select name="role" id="sr">
      <option value="User"> Civilian </option>
      <option value="007"> Special agent </option>
      <option value="soldier"> Soldier </option>
    </select>
    <input type="password" name="password" placeholder="password" />
    <br />
    <input type="submit" />
  </form>
</body>

</html>
