{{template "header"}}
<form method="post" enctype="multipart/form-data">
  <label for="idx-f">Choose File to Upload</label>
  <input type="file" id="inx-f" name="q" />
  <br />
  <input type="submit"
</form>

{{template "footer"}}
