<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Singup</title>
</head>

<body>
  <form method="post">
    <input type="text" name="user_name" placeholder="email" />
    <br />
    <input type="text" name="first_name" placeholder="first name" />
    <br />
    <input type="text" name="last_name" placeholder="last name" />
    <br />
    <input type="password" name="password" placeholder="password" />
    <br />
    <input type="sumbit" name="submit" />
    <br />

  </form>
</body>

</html>
