<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> Login page </title>

  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous" />

</head>

<body>

  <h1> Login page!</h1>
  <form method="post">
    <input type="text" name="user_name" placeholder="email" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" />

  </form>

  <p>
    Not a member? Sing up!
  </p>
  <a href="/singup">Here!</a>

</body>
</html>
