<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Composition</title>
</head>

<body>
  <h1>{{.Name}}</h1>
  <h2>{{.Age}}</h2>
  <p>
    Was emperor? {{.wasEmperor}}
  </p>
</body>

</html>
