<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> Apply </title>
</head>

<body>
  <strong> Apply </strong><br>
  <a href="/"       > Index   </a><br />
  <a href="/about"  > About   </a><br />
  <a href="/contact"> Contact </a><br />
  <a href="/apply"  > Apply   </a><br />

  <form method="post" action="/apply">
    <input type="submit" value="apply" />
  </form>
</body>
</html>
