<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> Apply process </title>
</head>

<body>
  <strong>Apply process</strong><br>
  <a href="/"       > Index   </a><br />
  <a href="/about"  > About   </a><br />
  <a href="/contact"> Contact </a><br />
  <a href="/apply"  > Apply   </a><br />
</body>
</html>
