<!DOCTYPE html>

<html>
<head lang="en">
  <meta charset="utf-8" />
  <title> 12.3.- Second, Third, Fourth </title>
</head>

<body>
  <h1> Second, Third, Fourth</h1>
  <p>
    This html shows the Second and Sixth power of a number.
  </p>
  <ul>
    <li>
      {{.}}, {{. | second}}, {{. | third}}, {{. | second | second}}
    </li>
  </ul>
</body>
</html>
