<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8"
  <title> 12: Time formatting functions </title>
</head>

<body>
  Today's date, in american format:
  <p>
    {{americanDate .}}
  </p>
</body>

</html>
